<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <!-- inject:js -->
  <!-- endinject -->
  <style type="text/css">
    table {
      border-collapse: collapse;
    }
    table {
      border: 1px solid black;
     }
    th, td {
      padding: 5px;
    }
  </style>
</head>
<body>
<div>
  <h3>Details page</h3>
  <button onclick="window.location.href='/'">Main page</button>
</div>
<br><br>
<div id="root"></div>
<script src="./dist/js/events.js"></script>

<br><br>

</body>
</html>